/* I'm a CSS comment! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./assets/blue-green-leaves-01.jpg)
    
    url("./assets/blue-green-leaves-01.jpg");
}

header {
    padding: 20px 35px;
    background-color: #000000;
}

header h1 {
    font-weight: lighter;
    background-color: black;
    font-size: 36px;
    color: #c714b8de;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin: 20px;
}

header nav ul li {
    display: inline;
    align-items: center;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

li {
    display: inline;
}

h4 {
    color: rgb(161, 200, 252);
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #011241;
    background: #ffffff;
    width: 100%;
    padding: 20px, 20px;
}

.hero-form {
    background-color: #0000009f;
    padding: 20px;
    width: 35%;
    color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: #2c86fc9d;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.hero {
    background-image: url("./assets/blue-green-leaves-01.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #9ecdfc;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: rgb(255, 255, 255);
    background-color: steelblue;
    border: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

button:hover {
    background: element(em em-heart);
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #024e76;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #000000;
    display: inline-block;
}

.intro p {
    line-height: 1.7;
    color: #2c86fc9d;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.intro img {
    width: 500px;
    height: 650px;
}

.intro h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 20px;
    display: flexbox;
}
