/* I'm a CSS comment! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* apply styles to <header> */

header {
    padding: 20px 35px;
    background-color: #000000;
}

header h1 {
    font-weight: lighter;
    background-color: black;
    font-size: 36px;
    color: #c714b8de;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

li {
    display: inline;
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #080166de;
    background: #bccdfc;
    width: 100%;
    padding: 40px 35px;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("blue marble background-01.png");
    height: 600px;
}