* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #000000;
}

header h1 {
    font-weight: lighter;
    background-color: black;
    font-size: 55px;
    color: #c714b8de;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

li {
    display: inline;
}

.hero {
    background-image: url("./assets/blue-green-leaves-01.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h4 {
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #ffffff;
    background: #053b8dcc;
    border: 3px solid;
    border-color: rgb(12, 155, 12);
    width: 100%;
    margin: 5px 5px 5px 5px;
    padding: 80px, 80px;
}

/* ABOUT */

.intro {
    margin: 0;
    height: 600px;
    display: flex;
}

.intro h2 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    text-align: left;
    color: #02314b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intro img {
    width: 450px;
    height: 550px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
}

.intro p {
    line-height: 1.7;
    color: #02314b;
    font-weight: lighter;
    text-align: center;
    margin: 20px 10px 20px 10px;
    width: 35%;
    height: 40%;
    font-size: 18px;
    padding: 10 30px 10 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PORTFOLIO */

.RADesigns {
    text-align: center;
}

.RADesigns h2 {
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #024e76;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 100px 20px 100px;
    display: flex;
    justify-content: center;
}

.RADesigns p {
    line-height: 1.7;
    color: #2c86fc9d;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.RADesigns h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 20px 0px 10px;
    display: flex;
}

#portfolio-projects {
    display: flex;
    flex-wrap: wrap;
}

#portfolio-projects img {
    max-width: 100%;
    width: 22vw;
    width: calc(24vw + 15px);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) and (orientation: Portfolio) {
    header {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .hero {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .intro {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .RADesigns {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        .hero {
            padding: 30px 15px;
        }
        @media screen and (max-width: 575px) {
            .section-title {
                width: 95%;
            }